
    

    body {
      margin: 0;
      padding: 0;
      background-color: white;
    }

    #header {
      background-color: #442727;
      color: white;
      padding: 10px; /* Decreased the height of the header */
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
    }

    #header i {
      margin: 0 10px;
      font-size: 20px;
    }

    #navbar {
      background-color: #D2C6B2;
      color: black;
    }

    .navbar-custom {
      background-color: #D2C6B2; /* Your custom color for the navbar */
      font-family: 'Times New Roman', Times, serif; /* Set the font-family to Times New Roman */
    }

    .custom-dropdown {
      background-color: #442727; /* Background color of the dropdown menu */
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Optional: Add a box shadow for a subtle effect */
      width: 150px; /* Fixed width for the dropdown menu */
      max-height: 200px; /* Maximum height before scrolling */
      overflow-y: auto; /* Enable vertical scrolling */
    }

    .custom-dropdown a {
      color: wheat !important; /* Text color of dropdown items */
      font-family: 'Times New Roman', Times, serif; /* Set the font-family to Times New Roman */

    }

    .custom-dropdown a:hover {
      background-color: black !important; /* Background color on hover */
    }

    #footer {
      background-color: #442727;
      color: white;
      padding: 10px;
      text-align: right;
      border-bottom-left-radius: 20px;
      border-bottom-right-radius: 20px;
    }

    #carouselExample {
      overflow: hidden;
    }

    #carouselExample .carousel-inner .carousel-item img {
        height: 380px; /* Adjust the height as needed */
        object-fit: cover;
      }

      #content {
        padding: 20px;
        margin: 20px;
        background-color: white;
      }
      
      #content h2 {
        font-family: 'Times New Roman', serif;
        color: #442727;
      }
      
      #content p {
        font-family: 'Times New Roman', serif;
        text-align: justify;
      }

      .accordion {
        margin: 20px;
      }
  
      .card {
        border: none;
        border-radius: 0;
        margin-bottom: 5px;
      }
  
      .card-header {
        background-color:none;
        border: none;
        padding: 15px;
        cursor: pointer;
      }
  
      .card-header:hover {
        background-color: none;
      }
  
      .card-body {
        padding: 10px;
      }
  
      .dropdown-icon {
        float: right;
      }
  
      .rotate-icon {
        transition: transform 0.3s ease;
      }

    /* CARD CAROSOUL*/

      .centered-title {
        text-align: center;
        margin-top: 20px;
        margin-bottom: 20px;
        font-size: 32px;
        color: #333;
      } 

     /* Add this style to your existing CSS file or create a new file and link it */



       /* Centered Section */
    .centered-section {
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 60vh; /* Increase section height */
      margin-bottom: 40px; /* Add space between the section and the footer */
      max-width: 1500px;
      margin: 0 auto;
      background-color: #EAE7D9; /* Set your desired background color */
    }

    /* Carousel Card Styles */
    .carousel-card {
      width: 500px; /* Adjusted width */
      height: 200px; /* Increased height */
      overflow: hidden;
      border-radius: 15px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      transition: transform 0.3s ease-in-out;
      background-color: rgba(255, 255, 255, 0.8); /* Set background color with opacity */
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
    }

    .carousel-card:hover {
      transform: scale(1.05);
    }

    .card-content {
      padding: 20px;
    }

    #cardSlider {
      width: 50%; /* Adjust the width as needed */
      margin: 0 auto;
    }  
    
    /* Space between sections */
.space-between-sections {
  margin-bottom: 40px; /* Adjust the margin as needed */
}

/* Style for image container */
.image-container {
  overflow: hidden;
}

/* Division for Content */
.col-md-6 {
  display: flex;
  align-items: flex-start;
}

.content-container {
  padding: 50px;
}


/* Center the image */
.centered-image {
  display: block;
  margin: 0 auto;
  border-radius: 15px; /* Adjust the border-radius as needed for curved edges */
  object-fit: cover; /* Ensure the image covers the entire container without distortion */
  width: 80%; /* Ensure the image takes the full width of its container */
  height: 60%; /
}

/* Add horizontal flip animation to the image */
.animated-image {
  animation: flipImage 10s infinite linear;
}

@keyframes flipImage {
  0% {
    transform: scaleX(1);
  }
  20% {
    transform: scaleX(-1);
  }
  40% {
    transform: scaleX(1);
  }
  100% {
    transform: scaleX(1);
  }
}

/* Adjust the layout to make content parallel to the image */
.new-section .row {
  display: flex;
  align-items: flex-start;
}

/* Space between sections */
.space-between-sections {
  margin-top: 40px; /* Adjust the margin as needed */
}

/* Adjust the layout to make content parallel to the image */
.new-section .row {
  display: flex;
  align-items: center;
}

/* Space between sections */
.space-between-sections {
  margin-top: 40px; /* Adjust the margin as needed */
}

        /* Additional styles for the contact details and form section */
        .contact-form-section {
          background-color: #EAE7D9; /* Set customized background color for the contact details and form section */
          padding: 50px;
          border: 2px solid #EAE7D9; /* Increase thickness of the border */
          border-radius: 20px; /* Adjust the border-radius for curved edges */
          display: flex;
          flex-direction: row; /* Updated to row */
          align-items: center;
          justify-content: space-around; /* Updated to space-around */
          height: 80vh; /* Set the section height to 100% of the viewport height */
      }

      /* Custom styles for the form */
      .custom-form {
          background-color: #442727; /* Set background color for the form */
          color: #EAE7D9; /* Set text color for the form */
          border: 2px solid #EAE7D9; /* Set border color for the form */
          border-radius: 15px; /* Adjust the border-radius for curved edges */
          padding: 20px;
          width: 80%; /* Set the form width to 100% */
          max-width: 400px; /* Set a maximum width for the form */
      }

      .custom-form label {
          color: #EAE7D9; /* Set label color for the form */
      }

      .custom-form textarea,
      .custom-form input {
          margin-bottom: 10px;
      }

      .custom-form button {
          background-color: #EAE7D9; /* Set button background color */
          color: #442727; /* Set button text color */
          border: 2px solid #EAE7D9; 
      }

      .custom-form button:hover {
          background-color: #442727; /* Change button color on hover */
      }

      .short-dark-line {
          border: none;
          width: 50px; /* Set the width of the line */
          height: 2px; /* Set the height of the line */
          background-color: #442727; /* Set the dark color for the line */
          margin: 20px 0px; /* Adjust the margin to control spacing */
         
      }

      .space-between-sections {
        margin-top: 40px; /* Adjust the margin as needed */
      }
      

    /* Custom style for changing nav-item text color to black */
    .navbar-dark .navbar-nav .nav-link {
      color: white;
    }

    @media (max-width: 768px) {
      #carouselExample img {
        height: auto; /* Allow the image to resize based on the viewport height */
      }/* Styles for screens smaller than 768px */
    }
